In [1]:
#Extraction of the Ticker information ( Price: Open, Close, High, Low and volume)
import pandas as pd
import datetime
import os 
import pandas_datareader.data as web
from pandas import Series, DataFrame


start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2021, 3, 15)

stock_df = web.DataReader("AAPL", 'yahoo', start, end)
stock_df.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-03-09,122.059998,118.790001,119.029999,121.089996,129159600.0,121.089996
2021-03-10,122.169998,119.449997,121.690002,119.980003,111760400.0,119.980003
2021-03-11,123.209999,121.260002,122.540001,121.959999,102753600.0,121.959999
2021-03-12,121.169998,119.160004,120.400002,121.029999,87963400.0,121.029999
2021-03-15,124.000000,120.419998,121.410004,123.989998,92403800.0,123.989998

In [6]:
import pandas_datareader.data as web

symbol = 'WIKI/GOO'  # or 'AAPL.US'
#quandl.ApiConfig.api_key = 

df = web.DataReader(symbol, 'quandl', '2010-01-01', '2021-03-15',retry_count=3,api_key="eys9Qowq7xsT5zdCr6-m")

df.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,279.18,13696168.0
2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,304.18,8324639.0
2018-03-23,311.25,311.61,300.45,301.54,6600538.0,0.0,1.0,311.25,311.61,300.45,301.54,6600538.0
2018-03-22,313.89,318.82,308.18,309.10,4914307.0,0.0,1.0,313.89,318.82,308.18,309.10,4914307.0
2018-03-21,310.25,322.44,310.19,316.53,5927881.0,0.0,1.0,310.25,322.44,310.19,316.53,5927881.0

In [ ]:
#Rolling Mean( Moving Average) and Rate of return

close_price = stock_df[]